/.idea/
/node_modules/
/src/
/.nyc_output/
/coverage/
/.nycrc
/.travis.yml
/mocha.opts
/tsconfig*.json
/webpack.config.js
**/tslint.json
/test/
*.tgz
/.releaserc.yml
/yarn.lock
/git_gpg_keys.asc
/git_gpg_keys.asc.enc
/docs/
/build/
/prepare-gpg-key.sh
